signal-meter
[{"id":"e967b861.9545b8","type":"ui_gauge","z":"c1d4cb1c.6fe8c8","name":"Signal Meter","group":"910f87cf.9376b8","order":0,"width":0,"height":0,"gtype":"gage","title":"Signal Strength","label":"dBm","format":"{{value}}","min":"-113","max":"-51","colors":["#00b500","#e6e600","#ca3838"],"seg1":"-85","seg2":"-65","x":929,"y":357,"wires":[]},{"id":"c570e1b8.88a71","type":"function","z":"c1d4cb1c.6fe8c8","name":"","func":"var rssi_stat = global.get(\"get_rssi\");\n\nif(rssi_stat === 0)\n{\n    msg.payload = \"Stopping RSSI Reads from modem\";\n    \n    return[null,null,msg];\n}\nelse if(rssi_stat ===1)\n{\n  msg.payload = \"AT+CSQ\" + \"\\r\\n\";\n  return[msg,msg,msg];\n    \n}\n","outputs":"3","noerr":0,"x":252,"y":227,"wires":[["7cfad5e2.5fcf7c"],["9a609fd8.09d7c"],["1c1e2998.ef6f96"]]},{"id":"7cfad5e2.5fcf7c","type":"serial out","z":"c1d4cb1c.6fe8c8","name":"Modem Port","serial":"93485f7d.0073f","x":427,"y":115,"wires":[]},{"id":"5f9d9228.2f6c0c","type":"serial in","z":"c1d4cb1c.6fe8c8","name":"Modem Port - Output","serial":"93485f7d.0073f","x":724,"y":91,"wires":[["efb5c023.7557c"]]},{"id":"31adc3e0.f85f9c","type":"debug","z":"c1d4cb1c.6fe8c8","name":"","active":true,"console":"false","complete":"false","x":921,"y":212,"wires":[]},{"id":"9a609fd8.09d7c","type":"delay","z":"c1d4cb1c.6fe8c8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":257,"y":360,"wires":[["c570e1b8.88a71"]]},{"id":"1c1e2998.ef6f96","type":"debug","z":"c1d4cb1c.6fe8c8","name":"","active":false,"console":"false","complete":"false","x":507,"y":224,"wires":[]},{"id":"f794922.2f60b7","type":"ui_button","z":"c1d4cb1c.6fe8c8","name":"","group":"910f87cf.9376b8","order":0,"width":0,"height":0,"passthru":false,"label":"Start","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":85,"y":53,"wires":[["cc1ae55b.9c5e28"]]},{"id":"cc1ae55b.9c5e28","type":"function","z":"c1d4cb1c.6fe8c8","name":"","func":"global.set(\"get_rssi\",1);\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":137,"wires":[["c570e1b8.88a71"]]},{"id":"8c7080e8.3ce1e","type":"ui_button","z":"c1d4cb1c.6fe8c8","name":"","group":"910f87cf.9376b8","order":0,"width":0,"height":0,"passthru":false,"label":"Stop","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":79,"y":507,"wires":[["6bf040e1.3b0be"]]},{"id":"6bf040e1.3b0be","type":"function","z":"c1d4cb1c.6fe8c8","name":"","func":"global.set(\"get_rssi\",0);\nreturn msg;","outputs":1,"noerr":0,"x":113,"y":445,"wires":[[]]},{"id":"efb5c023.7557c","type":"function","z":"c1d4cb1c.6fe8c8","name":"","func":"var temp;\nvar temp2,dbm,rssi;\n\nvar mystr = msg.payload;\nnode.log(mystr);\nif(mystr.indexOf(\"+CSQ:\")>-1)\n{\ntemp = mystr.split(\"+CSQ: \");\ntemp[0] = temp[0].trim();\nnode.log(temp[1]);\ntemp2 = temp[1].split(\",\");\nrssi = temp2[0];\n//node.log(\"Value of temp[0], temp2[0]\", temp[0], temp2[0]);\ndbm = -113 + (2*rssi);\n\nmsg.payload = dbm;\nreturn msg;\n}\nelse\n return null;\n\n\n","outputs":1,"noerr":0,"x":780,"y":264,"wires":[["31adc3e0.f85f9c","e967b861.9545b8"]]},{"id":"910f87cf.9376b8","type":"ui_group","z":"","name":"Default","tab":"76256355.0eab0c","disp":true,"width":"6"},{"id":"93485f7d.0073f","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n\\r","bin":"false","out":"char","addchar":false},{"id":"76256355.0eab0c","type":"ui_tab","z":"","name":"Signal Meter","icon":"dashboard"}]